* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(235, 235, 235);
    border: 10px solid transparent;
}

/* flexbox structure */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* header */

.navbar {
    font-family: 'Notable', verdana, sans-serif;
    font-size: 40px;
    padding: 15px;
    background-color: white;
    border: 5px double rgb(100, 100, 100);
}

.navbar h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* page content */

.content {
    flex: 1 1 auto;
    display: flex;
}

/* menu */

.menu {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-left: 5px double rgb(100, 100, 100);
}

.menu p {
    font-family: 'Notable', verdana, sans-serif;
    font-size: 40px;
    margin: 0;
}

.menu button {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    gap: 10px;
    min-width: 50%;
    max-width: 50%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
} 

.menu button:hover {
    filter: invert(0.9);
}

.menu img {
    height: 50px;
    width: auto;
}

.menu span {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.menu input {
    text-align: center; 
    width: 100%;
    border-radius: 5px;
}

/* workspace */

.workspace {
    flex: 1 1 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px double rgb(100, 100, 100);
    border-right: 5px double rgb(100, 100, 100);
}

/* grid container */

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    min-width: 45%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: white;
    border: 5px double black;
}

/* grid element -- will be add in js */

.grid {
    border: 1px solid black;
}

.grid:hover {
    border: 3px solid black;
}

/* footer */

.footer {
    background-color: white;
    border: 5px double rgb(100, 100, 100);    
}

.footer p {
    text-align: center;
    margin: 0;
    padding: 5px;    
}